html, body {
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 153);
}

.menu-container,.waiting-container,.game-container{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.game-container,.waiting-container{
    display: none;
    flex-direction: column;
}

.menu-container{
    display: flex;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(51, 51, 153);
    border-radius: 30px;
}

.create{
    margin: 0px 20px 20px 20px;
}

.board{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.WHITE,.BLACK{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.BLACK{
    background-color: black;
}

.WHITE{
    background-color: white;
}

.piece{
    width: 60px;
    height: 60px;
}